{:tasks
 {:requires ([babashka.fs :as fs]
             [clojure.string :as str])
  :init (do (defn current-version []
              (str "v" (str/trim (:out (shell {:out :string} "npm show . version"))))))
  publish {:task
           (do (fs/delete-tree "lib")
               (shell "npx shadow-cljs release bebo")
               (run! fs/delete (fs/glob "lib" "*.map"))
               (shell "npm version patch")
               (shell "npm publish")
               (shell "git push origin main"
                      (current-version)))}}}
