{:tasks
 {:requires ([babashka.fs :as fs])
  publish {:task
           (do (fs/delete-tree "lib")
               (shell "npx shadow-cljs release bebo")
               (run! fs/delete (fs/glob "lib" "*.map"))
               (shell "npm version patch")
               (shell "npm publish"))}}}
