{:deps true
 :builds
 {:bebo
  {:js-options {;; don't bundle any npm libs
                :js-provider :import}
   :compiler-options {:infer-externs :auto}
   :target :esm
   :runtime :node
   :output-dir "lib"
   :modules
   {:bebo_core {:exports {runScript bebo.core/run-script}}
    :bebo_main {:init-fn bebo.main/init
                :depends-on #{:bebo_core}}}
   :build-hooks [(shadow.cljs.build-report/hook
                  {:output-to "report.html"})]}}}
